.timer-main {
    margin: 5;
    background-color: #feceab;
    padding: 15vh;
}

.timer-actual {
    font-size: 6vw;
}

.timer-adjust {
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 2%;
}

.btn-adjust{
    padding: 2%;
}


Button {
    padding: 5%;
}