.header {
    flex-grow: 1;
    padding: 5vh;
    background-color: #cf1b1b;
}

.header-title {
    margin-right: ;
    font-size: 40px;
    color: white;
}

.contact-button {
    align-content: space-between;
}